.UserProfileBg {
  background-color: lightgray;
  border: 1px solid lightgray;

}

.UserProfileImg {
  width: 10em;
  height: 10em;
  object-fit: cover;
  border: 1px solid grey;
  border-radius: 5%;
}

.UserProfileBanner {
  background-color: rgba(0, 0, 0, 0.2);
  height: 17em;
  object-fit: cover;
  display: flex;
  justify-content: center;
}

.FavoritesCarouselHeight {
  min-height: 20em;
}

.FavoritesCarouselBg {
  background-color: transparent;
  /* border: 1px solid lightgrey; */
}

/* .FavoritesCarouselBgLayer1 {
  background-color: rgba(90, 89, 89, 0.5);
  min-height: 20em;
}

.FavoritesCarouselBgLayer2 {
  background-color: rgba(90, 89, 89, 0.5);
  min-height: 20em;
} */

.FavoritesCard {
  margin-top: 1em;
  margin-left: 1em;
  width: 12em;
  height: 15em;
}

.FavoritesImg {
  width: 11.5em;
  height: 11em;
  object-fit: cover;
  padding-top: 1em;
}