.UserProfileBg {
  background-color: #ca895f;
  border: 1px solid #ca895f;
}

.UserProfileImg {
  width: 10em;
  height: 10em;
  object-fit: cover;
  border: 1px solid grey;
  border-radius: 5%;
}

.UserProfileBanner {
  background-color: rgba(0, 0, 0, 0.2);
  height: 17em;
  object-fit: cover;
  display: flex;
  justify-content: center;
}

.FavoritesCarouselHeight {
  min-height: 20em;
}

.FavoritesCarouselBg {
  background-color: transparent;
  /* border: 1px solid lightgrey; */
}

/* .FavoritesCarouselBgLayer1 {
  background-color: rgba(90, 89, 89, 0.5);
  min-height: 20em;
}

.FavoritesCarouselBgLayer2 {
  background-color: rgba(90, 89, 89, 0.5);
  min-height: 20em;
} */

.FavoritesCard {
  background-color: rgba(0, 0, 0, 0.1);
  /* background-color: transparent; */
  /* margin-top: 1em;
  margin-left: 1em; */
  /* width: 80em;
  height: 10em; */
}

.FavoritesImg {
  width: 11em;
  height: 12em;
  object-fit: cover;
}

.EditViewImg {
  width: 10em;
  height: 10em;
  object-fit: cover;
  border-radius: 5%;
}

.EditViewForm {
  width: 30em;
}

.EditViewImgCaption {
  line-height: 0.5em;
}

.AlfacinhaFont {
  font-family: "Amatic SC", cursive;
  font-size: 3em;
}

.AboutList {
  
  margin: 0;
  padding: 0;
}

.ProfileRow {
  max-height: 22em;
}