.DarkGreyBg {
  background-color: #323940;
}

.LineH75 {
  line-height: 75%;
}

.GreenBg {
  background-color: #5cb471;
}

.PurpleTxt {
  color: #693668;
}

.BeigeBg {
  background-color: rgb(217, 223, 219);
}

.MyBtn {
  background-color: #693668;
  border-color: #693668;
  color: rgb(184, 184, 184);
}

.MyBtn:hover {
  background-color: #693668;
  border-color: #693668;
  color: rgb(184, 184, 184);
}

.MyBtn:focus {
  background-color: #693668;
  border-color: #693668;
  color: rgb(184, 184, 184);
}

.MyBtn:active {
  background-color: #693668;
  border-color: #693668;
  color: rgb(184, 184, 184);
}

.MinPageHeight {
  min-height: 65vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Overpass', sans-serif;
}

.App {
  width: 100vw;
}
