.CommentUserIcon {
  width: 2.5em;
  height: inherit;
  object-fit: cover;
  border-radius: 5%;
  margin-right: 0.5em;
}

.CommentImg {
  width: 6em;
  height: 6em;
  border-radius: 5%;
  object-fit: cover;
}

.UserComment {
  margin: 1em 0;
  border: 1px solid lightgray;
  background-color: transparent;
}

.CommentForm {
  width: 30em;
}

.DeleteCommentBtn {
  max-width: 10em;
}