.CommentUserIcon {
  width: 4em;
  height: 4em;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 0.5em;
}

.CommentImg {
  width: 10em;
  height: 10em;
  object-fit: cover;
}

.UserComment {
  margin: 1em 0;
  border: 1px solid lightgray;
  background-color: transparent;
}
